<section id="page" class="container-fluid text-center bg-white p-5">
    <div class="row">
        <div class="col-12 p-5">
            <h1>{{ title }}</h1>
            <p>{{ description }}</p>
        </div>
    </div>
</section>

<section id="blog" class="container">
    <div class="row">
        <div class="col-12 my-5">
            <p class="h1">Latest Blog</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-body p-0">
                    <img width="100%" src="https://images.pexels.com/photos/461077/pexels-photo-461077.jpeg"
                        alt="Blog Image">
                </div>
                <div class="card-footer">
                    <p class="h4 mx-4 my-5">Powerful and flexible website development.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-body p-0">
                    <img width="100%" src="https://images.pexels.com/photos/2115217/pexels-photo-2115217.jpeg"
                        alt="Blog Image">
                </div>
                <div class="card-footer">
                    <p class="h4 mx-4 my-5">1000's of templates available right away.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-body p-0">
                    <img width="100%" src="https://images.pexels.com/photos/2148217/pexels-photo-2148217.jpeg"
                        alt="Blog Image">
                </div>
                <div class="card-footer">
                    <p class="h4 mx-4 my-5">Save time and build your business online.</p>
                </div>
            </div>
        </div>
    </div>
</section>