<body>

  {{!-- Load Headers --}}
  {{> header}}
  {{!-- ------------ --}}

  {{!-- Content --}}
  <p>This is a description for this test page.</p>
  {{!-- Content End --}}

  {{!-- Load Footer --}}
</body>