<section id="bottombar" class="container-fluid bg-primary fixed-bottom">
    <div class="row">
        <div class="col-12 p-2">
            <div class="row">
                <div class="col-md-10 col-sm-8 my-auto">
                    <p class="m-0">This website uses cookies to server the best information to the users. <a
                            class="text-white" href="#">See more here</a>. Pleaes click the following button to accept
                        cookies.</p>
                </div>
                <div class="col-md-2 col-sm-4 my-auto">
                    <button class="btn btn-secondary btn-lg p-3" type="button">Accept Cookies</button>
                </div>
            </div>
        </div>
    </div>
</section>