<div class="container-fluid bg-white p-5">
    <div class="row">
        <div class="col-md-4 mb-3">
            <p class="h2 font-weight-bold">{{ site.name }}</p>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout.</p>
            <p class="font-weight-bold">+000 000-0000</p>
        </div>
        <div class="col-md-8 mb-3">
            <div class="row">
                <div class="col">
                    <p class="font-weight-bold">Links</p>
                    <a class="text-muted d-block p-2 text-decoration-none" href="#">Blog</a>
                    <a class="text-muted d-block p-2 text-decoration-none" href="#">FAQ's</a>
                    <a class="text-muted d-block p-2 text-decoration-none" href="#">Payments</a>
                    <a class="text-muted d-block p-2 text-decoration-none" href="#">Shippings</a>
                    <a class="text-muted d-block p-2 text-decoration-none" href="#">Refund Policy</a>
                    <a class="text-muted d-block p-2 text-decoration-none" href="#">Privacy Policy</a>
                </div>
                <div class="col">
                    <p class="font-weight-bold">Services</p>
                    <a class="text-muted d-block p-2 text-decoration-none" href="#">Your Account</a>
                    <a class="text-muted d-block p-2 text-decoration-none" href="#">Information</a>
                    <a class="text-muted d-block p-2 text-decoration-none" href="#">Addresses</a>
                    <a class="text-muted d-block p-2 text-decoration-none" href="#">Discounts</a>
                    <a class="text-muted d-block p-2 text-decoration-none" href="#">Order History</a>
                    <a class="text-muted d-block p-2 text-decoration-none" href="#">Track Orders</a>
                </div>
                <div class="col">
                    <p class="font-weight-bold">Information</p>
                    <a class="text-muted d-block p-2 text-decoration-none" href="#">Site Map</a>
                    <a class="text-muted d-block p-2 text-decoration-none" href="#">Search Terms</a>
                    <a class="text-muted d-block p-2 text-decoration-none" href="#">Advanced</a>
                    <a class="text-muted d-block p-2 text-decoration-none" href="#">About Us</a>
                    <a class="text-muted d-block p-2 text-decoration-none" href="#">Contact Us</a>
                    <a class="text-muted d-block p-2 text-decoration-none" href="#">Our Suppliers</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-md-5">
        <div class="col-12 text-center">
            <p class="mx-3 font-weight-bold">&copy; 2020 Epic. All Rights Reserved.</p>
            <a class="mx-3 text-muted" href="#">
                <p>Powered By Epic Framework</p>
            </a>
        </div>
    </div>
</div>