<div class="container-fluid bg-white px-3 py-5">
    <div class="row">
        <div class="col-6 d-flex">
            <p class="mx-3 font-weight-bold">&copy; 2020 Epic. All Rights Reserved.</p>
            <a class="mx-3 text-muted" href="#">Powered By Epic Framework</a>
        </div>
        <div class="col-6"></div>
    </div>
</div>