<section id="topbar" class="container-fluid bg-primary">
    <div class="row">
        <div class="col-12 p-2">
            <p class="m-0">Some confidential information or notifications can come <a class="text-white"
                    href="#">here.</a></p>
        </div>
    </div>
</section>